---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Movie Recommender">
  <div class="text-center py-10">
    <h1 class="text-4xl font-bold pb-4">Movie Recommender</h1>
    <p class="text-xl text-gray-400 pb-6">
      Sorry, this demo is down while I migrate the site to SST / Astro.
    </p>
  </div>
</Layout>
