---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Movie Recommender">
  <div class="text-center py-10">
    <h1 class="text-4xl font-bold pb-4">Movie Recommender</h1>
    <p class="text-xl text-gray-400 pb-6">
      This feature is temporarily disabled during site migration.
    </p>
    <p class="text-lg">
      The movie recommender demo used item-item collaborative filtering on the MovieLens 1M dataset.
      It will be back soon!
    </p>
    <div class="pt-8">
      <a href="/" class="cool-link text-xl">← Back to home</a>
    </div>
  </div>
</Layout>
